* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: url('https://upload.wikimedia.org/wikipedia/commons/0/08/Marco_Ricci_-_Rehearsal_of_an_opera_-_Google_Art_Project_%282328395%29_retuschiert.jpg') no-repeat center center/cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: "Times New Roman", Times, serif;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-family: "Times New Roman", Times, serif;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: "Times New Roman", Times, serif;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* input field and button */
.input-container {
    display: flex;
    /* width: 80%; */
    max-width: 500px;
    /* background-color: #fff; */
    /* padding: 10px; */
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

#email-input {
    flex: 1;
    padding: 17px;
    font-size: 16px;
    color: black;
    /* border: 5px solid #cc1414; */
    border: 0px;
    outline: 0px;
    opacity: 0.3;
    border-radius: 20px 0 0 20px;
    /* outline: 2px solid #ccc; */
    border-right: none;
    transition: border-color 0.3s;
    font-family: "Times New Roman", Times, serif;
}

#message-input:focus {
    border-color: #912319;
    color: black;
}

::placeholder {
    color: black;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: black;
  }

#send-button {
    padding: 10px;
    border: none;
    background-color: #71160c;
    color: white;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#send-button svg {
    width: 24px;
    height: 24px;
}

#send-button:hover {
    background-color: #dd3412;
}